## Pandas

In [1]:
import numpy as np
import pandas as pd

## Series / Seriler

In [2]:
benimSözlük = {"Omer": 20 , "Oguz": 10, "Celikel": 25}

In [3]:
pd.Series(benimSözlük)

Omer       20
Oguz       10
Celikel    25
dtype: int64

In [4]:
benimYas = [20,30,40]
benimIsim = ["Omer","Oguz","Celikel"]

In [5]:
pd.Series(benimYas)

0    20
1    30
2    40
dtype: int64

In [6]:
pd.Series(benimYas,benimIsim)

Omer       20
Oguz       30
Celikel    40
dtype: int64

In [8]:
pd.Series(data = benimYas, index = benimIsim)

Omer       20
Oguz       30
Celikel    40
dtype: int64

In [9]:
numpyDizi = np.array([50,40,30])
numpyDizi

array([50, 40, 30])

In [10]:
pd.Series(numpyDizi)

0    50
1    40
2    30
dtype: int32

In [12]:
pd.Series(["Ahmet","Omer","Oguz"],[1,2,3])

1    Ahmet
2     Omer
3     Oguz
dtype: object

In [14]:
yarismaSonuc1 = pd.Series([10,5,1],["Omer", "Oguz","Celikel"])
yarismaSonuc1

Omer       10
Oguz        5
Celikel     1
dtype: int64

In [15]:
yarismaSonuc2 = pd.Series([20,12,31],["Omer", "Oguz","Celikel"])
yarismaSonuc2

Omer       20
Oguz       12
Celikel    31
dtype: int64

In [16]:
yarismaSonuc2["Oguz"]

12

In [18]:
sonSonuc = yarismaSonuc1 + yarismaSonuc2
sonSonuc

Omer       30
Oguz       17
Celikel    32
dtype: int64